/* Container for all announcement cards */
.announcement-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
}

.announcement-wrapper {
    width: calc(50% - 10px);
    height: auto;
}

.announcement-card {
    background-color: hsla(0, 0%, 98%, 0.952);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    transition: height 0.3s ease;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #9e5757;
    text-align: center;
    border: 1px solid;
    border-radius: 7px;
}

.card-description {
    color: #666;
    margin-bottom: 10px;
    line-height: 1.5;
}

.card-date {
    color: #999;
    margin-bottom: 10px;
}

.read-more-btn {
    background-color: #a36949;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.read-more-btn:hover {
    background-color: #eb7e17;
}

@media screen and (max-width: 768px) {
    .announcement-card {
        width: 100%;
    }

    @media screen and (max-width: 768px) {
        .announcement-wrapper {
            width: 100%;
            /* Set the width to 100% for each card wrapper */
        }
    }
}